@charset "utf-8";
/* CSS Document */

/* PRESET CSS */
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing:border-box;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
a, a:hover {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
body {
	background: #fff;
	overflow-x: hidden;
	font-family: 'PNR', sans-serif;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
#main_wrapper {
	width: auto;
	height: 100vh;
	padding: 15px;
	position: relative;
}
.hm_pg_wrap {
	width: 100%;
	height: auto;
	position: relative;
}
.section {
	width: 100%;
	height: auto;
	padding: 50px 15%;
	position: relative;
}
.sec_bot {
	padding-bottom: 10px;
}
.grey_sec {
	background-color: #fafafa;
}
.section-l {
	position: relative;
	padding: 60px 0;
}
.inner-wrap {
	width: 100%;
	height: auto;
	display: block;
}
.content {
	position: relative;
}

/* HEADER */

.hm_pg_wrap .header {
	width: 100%;
	height: auto;
	display: block;
	padding: 20px 5% 0;
	position: absolute;
	z-index: 999;
	left: 0;
	top: 0;
}
.main-wrap .header {
	width: 100%;
	height: auto;
	display: block;
	padding: 20px 10%;
	position: absolute;
	z-index: 999;
	left: 0;
	top: 0;
}
.header::before {
	content: "";
	background: #fff;
	opacity: 0.98;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
.smheader.header::before {
	transform: scale(1, 1);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
}
.smheader.header .hdr .menu_icon:hover {
	border: 1px solid #aeaeae;
}
.header .hdr {
	width: 100%;
	height: 65px;
	position: relative;
}
.header .hdr .brandname {
	width: auto;
	height: 65px;
	float: left;
}
.header .hdr .brandname img {
	width: auto;
	height: 65px;
	display: inline-block;
	transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.header .hdr .brandname .b_logo {
	display: none;
}
.smheader.header .hdr .brandname .w_logo {
	display: none;
}
.smheader.header .hdr .brandname .b_logo {
	display: inline-block;
}

.header .hdr .menu_icon {
	width: auto;
	cursor: pointer;
	padding: 12px;
	background: #f9b17d;
	border: 1px solid #fff;
	position: absolute;
	transition: background 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateY(-50%);
	top: 50%;
	right: 0;	
}
.menu .header .hdr .menu_icon {
	border: 1px solid #f9b17d;
}
.menu .header .hdr .menu_icon:hover {
	border: 1px solid #aeaeae;
}
.header .hdr .menu_icon:hover {
	background: #fff;
}  
/*.header .hdr .menu_icon .menu_text {
	width: auto;
	float: left;
	line-height: 16px;
	color: #aeaeae;
	font-size: 15px;
	font-family: 'ChivoReg';
	letter-spacing: 0.5px;
	transition: all 0.5s ease;
	text-transform: Capitalize;
	padding-right: 10px;
}
.header .hdr .menu_icon:hover .menu_text {
	color: #fff;
}
*/
.header .hdr .menu_icon .b_icon {
	width: 20px;
	height: 16px;
	float: left;
	position: relative;
	overflow: hidden;
}
.header .hdr .menu_icon .b_icon .b_top,  
.header .hdr .menu_icon .b_icon .b_mid,  
.header .hdr .menu_icon .b_icon .b_bot {
	background: #fff;
	height: 1px;
	border-radius: 1.5px;
	transition: background 0.6s cubic-bezier(0.4, 0, 0.2, 1), transform 0.6s cubic-bezier(0.4 ,0 , 0.2, 1);
	position: absolute;
}
.header .hdr .menu_icon:hover .b_icon .b_top,  
.header .hdr .menu_icon:hover .b_icon .b_mid,  
.header .hdr .menu_icon:hover .b_icon .b_bot {
	background: #aeaeae;
}
.header .hdr .menu_icon .b_icon .b_top {
	top: 0;
	transform: translate(-7px, 0);
	transform-origin: left;
	width: 100%;
	left: 0;
}
.header .hdr .menu_icon .b_icon .b_mid {
	top: 48%;
	width: 100%;
}
.header .hdr .menu_icon .b_icon .b_bot {
	bottom: 0;
	transform: translate(-7px, 0);
	transform-origin: left;
	width: 100%;
	left: 0;
}
.header .hdr .menu_icon:hover .b_icon .b_top,
.header .hdr .menu_icon:hover .b_icon .b_bot {
	transform: translate(7px, 0);
}
.banner {
	width: 100%;
	height: 95.5vh;
	position: relative;
	background-size: cover;
	background-color: #363639;
	background-repeat: no-repeat;
	background-position: center center;
}
.overlay {
	width: 100%; 
	height: inherit;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	left: 0;
	top: 0;
}

/* SLIDER */
.news_slide {
	width: 30%;
	height: auto;
	position: absolute;
	left: 60%;
	top: 50vh;
}
.news_slide .slide_hd {
	width: 100%;
	height: auto;
	margin-bottom: 13px;
	letter-spacing: 1.3px;
	font-family: "PNAL";
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
}
.flexslider {
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 100%;
	max-height: 100%;
}
.flexslider .slides li {
	width: 100%;
	max-height: 200px;
	position: relative;
	overflow: hidden;
}
.flexslider-container {
	position: relative;
}
.flexslider .slides li .news_caption {
	width: 100%;
	letter-spacing: 0.8px;
	margin-bottom: 8px;
	font-family: "PNBl";
	font-size: 20px;
	color: #f9b17d;
}
.flexslider .slides li .news_detail {
	letter-spacing: 0.5px;
	font-family: "PNAL";
	font-size: 15px;
	line-height: 1.35;
	color: #fff;
}
.menu_nav {
	width: 100%;
	display: block;
	padding: 20px 5%;
	position: absolute;
	z-index: 5;
	left: 0;
	bottom: 0;
}
.menu_nav .inner_wrap {
	width: 100%;
	height: auto;
	position: relative;
}
.menu_nav .inner_wrap .nav {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.menu_nav .inner_wrap .nav li {
	display: inline-block;
    vertical-align: top;
    padding: 0 15px;
	text-align: center;
}
.menu_nav .inner_wrap .nav li a {
	transition: all 0.5s ease;
	text-transform: capitalize;
	font-family: "PNR";
	font-size: 22px;
	letter-spacing: 0.8px;
	color: #fff;
}
.menu_nav .inner_wrap .nav li:hover a {
	color: #f9b17d;
}
.menu {
	display: none;
	transition: none;
	padding: 0 10%;
/*	background: linear-gradient( 0deg,#f4781c 0%,#f9b17d 100% );
*/	
    background: #fff;
	z-index: 1000;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
.hm_pg_wrap .menu {
	height: 95.5vh;
	position: absolute;
}
.main-wrap .menu {
	height: 100vh;
	position: fixed;
	z-index: 1000;
}
.menu .smheader.header::before {
	box-shadow: none;
}
.menu .menu_wrap {
	width: 70%;
	display: block;
	position: absolute;
	transform: translateY(-50%);
	right: 15%;
	left: 15%;
	top: 48%;
}
.menu .menu_wrap .menu_left_col,
.menu .menu_wrap .menu_right_col {
	width: 50%;
	float: left;
}
.menu .menu_wrap .menu_left_col {
	text-align: right;
	padding-right: 20px;
}
.menu .menu_wrap .menu_right_col {
	padding-left: 20px;
}
.menu .menu_wrap .link_wrap {
	margin-bottom: 20px;
	transform: translateY(-10px);
	transition: transform 0.6s cubic-bezier(0.4 ,0 , 0.2, 1), opacity 0.6s cubic-bezier(0.4 ,0 , 0.2, 1);
	transition-delay: 0s;
	opacity: 0;
}
.menu .menu_wrap .link_wrap .link_title {
	margin-bottom: 2px;
}
.menu .menu_wrap .link_wrap .link_title a {
	letter-spacing: 0.5px;
	font-family: "PNB";
	font-size: 24px;
	color: #000;
}
.menu .menu_wrap .link_wrap .sublinks li a {
	line-height: 1.3;
	letter-spacing: 0.4px;
	font-family: "PNR";
	font-size: 18px;
	color: #5a5b5c;
}
.menu.open .menu_wrap .link_wrap:nth-child(n) {
	opacity: 1;
	transform: translateY(0);
}
.menu.open .menu_wrap .menu_left_col .link_wrap:nth-child(1) {
	transition-delay: 0.4s;
}
.menu.open .menu_wrap .menu_right_col .link_wrap:nth-child(1) {
	transition-delay: 0.4s;
}
.menu.open .menu_wrap .menu_left_col .link_wrap:nth-child(2) {
	transition-delay: 0.6s;
}
.menu.open .menu_wrap .menu_right_col .link_wrap:nth-child(2) {
	transition-delay: 0.6s;
}
.menu.open .menu_wrap .menu_right_col .link_wrap:nth-child(3) {
	transition-delay: 0.8s;
}
.menu.open .menu_wrap .menu_right_col .link_wrap:nth-child(4) {
	transition-delay: 1.0s;
}
.menu.open .menu_wrap .menu_left_col .link_wrap:nth-child(3) {
	transition-delay: 1.2s;
}
.menu.open .menu_wrap .menu_right_col .link_wrap:nth-child(5) {
	transition-delay: 1.4s;
}
.menu .menu_ft {
	width: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 40px;
	left: 50%;
}
.menu .menu_ft .cont_info_ft {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.menu .menu_ft .cont_info_ft .info_col:nth-child(1),
 .menu .menu_ft .cont_info_ft .info_col:nth-child(3) {
	width: auto;
	text-align: center;
}
.menu .menu_ft .cont_info_ft .info_col:nth-child(2) {
	width: auto;
	position: relative;
	text-align: center;
}
.menu .menu_ft .cont_info_ft .info_col a {
	font-family: "PNR";
	font-size: 14px;
	color: #5a5b5c;
	letter-spacing: 0.6px;
}
.menu .menu_ft .cont_info_ft .info_col:nth-child(2):before,
.menu .menu_ft .cont_info_ft .info_col:nth-child(2):after {
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #000;
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
}
.menu .menu_ft .cont_info_ft .info_col:nth-child(2):before {
	left: -5%;
}
.menu .menu_ft .cont_info_ft .info_col:nth-child(2):after {
	right: -5%;
}
.menu .menu_ft .cont_info_ft .info_col:nth-child(n) {
	opacity: 0;
	transform: translateY(-10px);
	transition: transform 0.6s cubic-bezier(0.4 ,0 , 0.2, 1), opacity 0.6s cubic-bezier(0.4 ,0 , 0.2, 1);
}
.menu.open .menu_ft .cont_info_ft .info_col:nth-child(n) {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 1.6s;
}
.menu_ft .social {
	width: auto;
	display: flex;
	margin: 0 auto;
	justify-content: center;
}
.menu_ft .social a {
	font-size: 13px;
	opacity: 0;
	transform: scale(1.1, 1.1);
	transition: opacity 1s cubic-bezier(0.4,0,0.2,1) 1.8s, transform 1s cubic-bezier(0.4,0,0.2,1) 1.8s, background 0.5s ease;
	text-decoration: none;
    margin-left: 10px;
	background: #fff;
    width: 25px;
	height: 25px;
	padding: 6px;
    text-align: center;
    border-radius: 50%;
}
.menu.open .menu_ft .social a {
	opacity: 1;
	transform: scale(1, 1);
}
.menu_ft .social a.fa-linkedin-in {
	color: #5a5b5c;
	background: #fff;
}
.menu_ft .social a.fa-linkedin-in:hover {
	background: #fff;
	color: #0e76a8 ;
}
.menu_ft .social a.fa-facebook-f {
	color: #5a5b5c;
	background: #fff;
}
.menu_ft .social a.fa-facebook-f:hover {
	background: #fff;
	color: #3b5998;
}
.menu_ft .social a.fa-twitter {
	color: #5a5b5c;
	background: #fff;
}
.menu_ft .social a.fa-twitter:hover {
	background: #fff;
	color: #1da1f2;
}
.menu_ft .social a.fa-youtube {
	color: #5a5b5c;
	background: #fff;
}
.menu_ft .social a.fa-youtube:hover {
	background: #fff;
	color: #c4302b;
}
.menu_ft .social a.fa-instagram {
	color: #5a5b5c;
	background: #fff;
/*	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
*/}
.menu_ft .social a.fa-instagram:hover {
	background: fff;
	color: #c32aa3;
}

/* TEMPLATE HEADER AND FOOTER */
.pg_banner {
	width: 100%;
	height: 30vh;
	position: relative;
	background-size: cover;
	background-color: #363639;
	background-repeat: no-repeat;
	background-position: center center;
}
.footer {
	width: 100%;
	padding: 0 10%;
	position: relative;
	background-color: #fafafa;
}
.footer .inner-wrap .row-1 {
	width: 100%;
	display: block;
	position: relative;
	padding: 60px 0;
}
.footer .inner-wrap .row-1 .col-1 {
	width: 40%;
    float: left;
}
.footer .inner-wrap .row-1 .col-2 {
	width: 40%;
    float: left;
}
.footer .inner-wrap .row-1 .col-3 {
	width: 20%;
    float: left;
}
.footer .inner-wrap .row-1 .col-hd {
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-family: "PNB";
	font-size: 13px;
}
.footer .inner-wrap .row-1 .col-1 .col-links {
	width: 100%;
}
.footer .inner-wrap .row-1 .col-1 .col-links ul li {
	width: 40%;
	float: left;
	display: inline-block;
}
.footer .inner-wrap .row-1 .col-1 .col-links ul li:nth-child(n+3) {
	margin-top: 10px;
}
.footer .inner-wrap .row-1 .col-1 .col-links ul li a {
	letter-spacing: 0.6px;
	font-family: "PNR";
	font-size: 16px;
	color: #5a5b5c;
}
.footer .inner-wrap .row-1 .col-2 .col-links .col-info:nth-child(n+2) {
	margin-top: 12px;
}
.footer .inner-wrap .row-1 .col-2 .col-links .col-info,
.footer .inner-wrap .row-1 .col-2 .col-links .col-info a {
	line-height: 1.4;
	letter-spacing: 0.8px;
	font-family: "PNR";
	font-size: 15px;
	color: #5a5b5c;
}
.footer .inner-wrap .row-1 .col-2 .col-links .col-info:nth-child(2) p {
	float: left;
}
.footer .inner-wrap .row-1 .col-2 .col-links .col-info:nth-child(2) p:nth-child(2) {
	margin-left: 15px;
}
.footer .inner-wrap .row-1 .col-3 .col-links a {
	font-size: 16px;
	transition: all 0.5s ease;
	text-decoration: none;
    width: 25px;
	height: 25px;
    text-align: left;
	color: #5a5b5c;
}
.footer .inner-wrap .row-1 .col-3 .col-links a:nth-child(n+2) {
	margin-left: 10px;
}
.footer .inner-wrap .row-1 .col-3 .col-links a.fa-linkedin-in:hover {
	color: #0e76a8 ;
}
.footer .inner-wrap .row-1 .col-3 .col-links a.fa-facebook-f:hover {
	color: #3b5998 ;
}
.footer .inner-wrap .row-1 .col-3 .col-links a.fa-twitter:hover {
	color: #1da1f2 ;
}
.footer .inner-wrap .row-1 .col-3 .col-links a.fa-youtube:hover {
	color: #c4302b ;
}
.footer .inner-wrap .row-1 .col-3 .col-links a.fa-instagram:hover {
	color: #c32aa3 ;
}
/*.footer .inner-wrap .row-1 .col-3 .v_gram {
	width: inherit;
	height: 50px;
	margin-top: 40px;
	position: absolute;
	text-align: center;
}
.footer .inner-wrap .row-1 .col-3 .v_gram img {
	width: auto;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.footer .inner-wrap .row-1 .col-3 .v_gram .w_cover {
	width: 70px;
	height: 20px;
	background-color: #fafafa;
	box-shadow:  0px 1px 0px rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
}
*/.footer .inner-wrap .row-2 {
	text-align: center;
	padding: 20px 0 60px; 
	letter-spacing: 0.8px;
	font-family: "PNR";
	font-size: 14px;
	color: #5a5b5c;
}

/* ABOUT US PAGE */
.section .inner-wrap .row-t {
	margin-top:  40px;
}
.section .inner-wrap .pg_title {
	width: 100%;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	font-family: "PNBl";
	font-size: 40px;
	color: #000;
}
.section .inner-wrap .sec_cap {
	width: auto;
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-family: "PNR";
	font-size: 19px;
	color: #000;
}
.section .inner-wrap .sec_cap:before {
	content: "";
	width: 50%;
	height: 1px;
	background-color: #f58634;
	position: absolute;
	bottom: -4px;
	left: 0;
}
.major_cap {
	width: 75%;
	margin-bottom: 10px;
	letter-spacing: 0.8px;
	font-family: "PNAL";
	font-size: 30px;
	color: #000;
}
.section .inner-wrap .col_inner .left_col,
.section .inner-wrap .col_inner .right_col {
	width: 50%;
	float: left;
}
.section .inner-wrap .col_inner .left_col {
	padding-right: 50px;
}
.section .inner-wrap .col_inner .right_col {
	padding-left: 50px;
}
.s_line {
	width: 85%;
}
.det_text p {
	line-height: 1.5;
	letter-spacing: 0.7px;
	font-family: "PNAL";
	font-size: 17px;
	color: #5a5b5c;
}
.det_text p:nth-child(n+2) {
	margin-top: 5px;
}
.det_text .sub_h {
	margin-top: 15px;
	letter-spacing: 0.7px;
	font-family: "PNR";
	font-size: 19px;
	color: #5a5b5c;
}
.det_text ul {
	margin-top: 5px;
}
.det_text ul li {
	position: relative;
	padding-left: 15px;
	line-height: 1.5;
	letter-spacing: 1.3px;
	text-transform: capitalize;
	font-family: "PNAL";
	font-size: 17px;
	color: #5a5b5c;
}
.det_text ul li:before {
	content: "";
	width: 4px;
	height: 4px;
	transform: translateY(-50%);
	background-color: #5a5b5c;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
}
.det_text p span {
	letter-spacing: 0.7px;
	text-transform: uppercase;
	font-family: "PNAB";
	font-size: 16px;
	color: #f58634;
}
.col_text .det_text p:nth-child(n+2) {
	margin-top: 8px;
}
.section .inner-wrap .col_inner:nth-child(n+2) {
	margin-top: 30px;
}
.section .inner-wrap .col_inner .col_photo {
	width: 45%;
	display: inline-block;
	vertical-align: middle;
}
.section .inner-wrap .col_inner .col_photo img {
	width: 100%;
	height: auto;
}
.section .inner-wrap .col_inner .firm_origin {
	width: 43%;
	margin-left: 10%;
	display: inline-block;
	vertical-align: middle;
}
.section .inner-wrap .col_inner .firm_origin .col_word {
	vertical-align: top;
	display: inline-block;
	text-align: left;
}
.section .inner-wrap .col_inner .firm_origin .col_word:first-child {
	width: 40%
}
.section .inner-wrap .col_inner .firm_origin .col_word:last-child {
	width: 35%;
}
.section .inner-wrap .col_inner .firm_origin .col_word:nth-child(2) {
	width: 5%;
	margin: 0 7% 0 9%;
	text-align: center;
	font-family: "PNBl";
	font-size: 45px;
	color: #f58634;
}
.section .inner-wrap .col_inner .firm_origin .col_word .row-f {
	letter-spacing: 0.6px;
	font-family: "PNR";
	font-size: 35px;
	color: #5a5b5c;
}
.section .inner-wrap .col_inner .firm_origin .col_word .row-f span {
	letter-spacing: 0.6px;
	font-family: "PNBl";
	font-size: 45px;
}
.section .inner-wrap .col_inner .firm_origin .col_word .row-l {
	letter-spacing: 0.6px;
	margin-top: 8px;
	font-family: "PNAL";
	font-size: 14px;
}
.section .inner-wrap .col_inner .v-wrap {
	width: 30%;
	height: 170px;
	float: left;
}
.section .inner-wrap .col_inner .v-wrap:nth-child(3n),
.section .inner-wrap .col_inner .v-wrap:nth-child(3n-1) {
	margin-left: 5%;
}
.section .inner-wrap .col_inner .v-wrap:nth-child(n+4) {
	margin-top: 45px;
}
.section .inner-wrap .col_inner .v-wrap .v-title {
	height: 25px;
	line-height: 25px;
	letter-spacing: 0.6px;
	margin-bottom: 10px;
	font-family: "PNR";
	font-size: 22px;
}
.section .inner-wrap .col_inner .v-wrap .v-title span {
	margin-right: 20px;
	font-family: "PNB";
	font-size: 27px;
	color: #5a5b5c;
}
.section .inner-wrap .col_inner .v-wrap .v-det {
	line-height: 1.4;
	letter-spacing: 0.6px;
	font-family: "PNAL";
	font-size: 15px;
	color: #5a5b5c;
}
.section .inner-wrap .col_inner .p_hld {
	width: 28%;
	height: 60vh;
	position: relative;
	background-color: #000;
	float: left;
}
.section .inner-wrap .col_inner .p_hld:nth-child(3n),
.section .inner-wrap .col_inner .p_hld:nth-child(3n-1) {
	margin-left: 8%;
}
.section .inner-wrap .col_inner .p_hld:nth-child(n+4) {
	margin-top: 45px;
}
.section .inner-wrap .col_inner .p_hld .p_photo {
	width: 100%;
	height: 100%;
	opacity: 0.6;
	position: relative;
	background-size: cover;
	background-position: top; 
	background-repeat: no-repeat;
	transition: all 0.7s ease;
}
.section .inner-wrap .col_inner .p_hld:hover .p_photo {
	opacity: 0.9;
}
.section .inner-wrap .col_inner .p_hld a {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
}
.section .inner-wrap .col_inner .p_hld a span {
	width: 80%;
	height: auto;
	position: absolute;
	bottom: 30px;
	left: 10%;
}
.section .inner-wrap .col_inner .p_hld a span:nth-child(1) {
	bottom: 50px;
	letter-spacing: 1.2px;
	text-transform: capitalize;
	font-family: 'PNAL';
	font-size: 22px;
}
.section .inner-wrap .col_inner .p_hld a span:nth-child(2) {
	bottom: 30px;
	letter-spacing: 0.8px;
	text-transform: capitalize;
	font-family: 'PNAL';
	font-size: 14px;
}
.section .inner-wrap .col_inner .p_hld a span:nth-child(1):before {
	content: '';
	width: 20%;
	height: 1px;
	position: absolute;
	left: 0;
	top: -15px;
	background-color: #fff;
	transition: all 0.5s cubic-bezier(0.4,0,0.2,1);
}
.section .inner-wrap .col_inner .p_hld:hover a span:nth-child(1):before {
	width: 30%;
}
.section .inner-wrap .faq_wrap_l,
.section .inner-wrap .faq_wrap_r {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
.section .inner-wrap .faq_wrap_r {
	margin-left: 1%;
}
.section .inner-wrap .faq_hld {
	width: 100%;
	height: auto;
	border: 1px solid #f6f4f2;
}
.section .inner-wrap .faq_hld:nth-child(n+2) {
	margin-top: 15px;
}
.section .inner-wrap .faq_hld .ic {
	width: 100%;
	height: 65px;
	display: inline-block;
	position: relative;
	background-color: #fafafa;
	transition: all 0.5s ease;
	cursor: pointer;
	padding: 15px 4%;
	color: #000;	
}
.section .inner-wrap .faq_hld .ic:before {
	content: "";
	width: 0;
	height: 2px;
	transition: all 1s cubic-bezier(0.4,0,0.2,1);
	background-color: #f58634;
	position: absolute;
	left: 0;
	top: -1px;
}
.section .inner-wrap .faq_hld .ic:hover:before {
	width: 100%;
}
.section .inner-wrap .faq_hld .ic .ic_text {
	width: 80%;
	line-height: 1.4;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: 'PNR';
	transform: translateY(-50%);
	vertical-align: middle;
	display: inline-block;
	position: absolute;
	color: #5a5b5c;
	top: 50%;
}
.section .inner-wrap .faq_hld .ic .ic_sign {
	width: 5%;
	height: auto;
	color: #f58634;
	font-size: 25px;
	font-family: 'PNB';
	display: inline-block;
	transform: translateY(-50%);
	vertical-align: middle;
	position: absolute;
	right: 4%;
	top: 50%;
}
.section .inner-wrap .faq_hld .ic .ic_sign .sp-2 {
	display: none;
}
.section .inner-wrap .faq_hld .ic .ic_sign .sp-2.sh {
	display: block;
}
.section .inner-wrap .faq_hld .ic .ic_sign .sp-1.sh {
	display: none;
}
.section .inner-wrap .faq_hld .faq_det {
	width: 100%;
	height: auto;
	display: none;
	padding: 20px 25px;
}
.section .inner-wrap .faq_hld .faq_det p {
	line-height: 1.4;
	letter-spacing: 0.6px;
	font-family: "PNAL";
	font-size: 14px;
	color: #5a5b5c;
}
.section .inner-wrap .faq_hld .faq_det p:nth-child(n+2) {
	margin-top: 8px;
}

/* OUR SOLUTIONS PAGE */
.spi_wrap {
	position: relative;
}
.spi_wrap:nth-child(n+2) {
	margin-top: 60px;
}
.spi_wrap .spi-d .spi_row .spi_row_inner {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.spi_wrap .spi-d .spi_row .spi_row_inner:nth-child(2n-1) {
	padding: 0 15%;
}
.spi_wrap .spi-d .spi_row .spi_row_inner .spi_photo {
	width: 30%;
}
.spi_wrap .spi-d .spi_row .spi_row_inner .spi_photo img {
	width: 100%;
	height: auto;
}
.spi_wrap .spi-d .spi_row .spi_row_inner .spi_det {
	width: 55%; 
}
.spi_wrap .spi-d .spi_row .spi_row_inner .spi_det {
	width: 55%; 
	margin-left: 5%;
}
.spi_wrap .spi-d .spi_row .spi_row_inner .spi_det .det_text {
	margin-bottom: 25px;
}
.spi_wrap .spi-d .spi_row .spi_row_inner .spi_det .spi_title {
	margin-bottom: 5px;
	letter-spacing: 1.3px;
	font-family: "PNB";
	font-size: 25px;
	color: #5a5b5c;
}
.spi_wrap .spi-d .spi_row .spi_row_inner:nth-child(2),
.pop_row {
	height: 330px;
	position: relative;
}
.spi_wrap .spi-d .spi_row .spi_row_inner .png_photo,
.pop_row .png_photo {
	width: auto;
	height: auto;
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 15%;
}
.spi_wrap .spi-d .spi_row .spi_row_inner .png_photo img, 
.pop_row .png_photo img {
	width: auto;
	height: 330px;
}
.spi_wrap .spi-d .spi_row .spi_row_inner .q_wrap,
.pop_row .q_wrap {
	width: 100%;
	height: 250px;
	position: absolute;
	background-color: #f58634;
	bottom: 0;
	z-index: 1;
}
.spi_wrap .spi-d .spi_row .spi_row_inner .q_wrap .q_det,
.pop_row .q_wrap .q_det {
	width: 40%;
	position: absolute;
	transform: translateY(-50%);
	text-align: right;
	left: 15%;
	top: 50%;
}
.spi_wrap .spi-d .spi_row .spi_row_inner .q_wrap .q_det .q_text .q_cap,
.pop_row .q_wrap .q_det .q_text .q_cap  {
	margin-bottom: 12px;
	line-height: 1.3;
	letter-spacing: 1px;
	font-family: "PNR";
	font-size: 20px;
	color: #fff;
}
.spi_wrap .spi-d .spi_row .spi_row_inner .q_wrap .q_det .q_text .q_author,
.pop_row .q_wrap .q_det .q_text .q_author {
	letter-spacing: 1px;
	font-family: "PNAL";
	font-size: 15px;
	color: #fff;
}
.fa-quote-right {
	font-size: 20px;
	margin-bottom: 8px;
	text-decoration: none;
    text-align: right;
	color: #fff;
}
.cta {
	width: auto;
	height: auto;
	transition: all 0.7s ease;
	display: inline-block;
	position: relative;
}
.cta a {
	text-transform: uppercase;
	line-height: 1.3;
	transition: all 1s cubic-bezier(0.4,0,0.2,1);
	letter-spacing: 1.4px;
	font-family: "PNB";
	font-size: 13px;
	color: #f58634;
}
.cta:before {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #ddd;
	position: absolute;
	bottom: -5px;
	left: 0;
}
.cta:after {
	content: "";
	width: 0;
	height: 1px;
	transition: all 1s cubic-bezier(0.4,0,0.2,1);
	background-color: #f58634;
	position: absolute;
	bottom: -5px;
	left: 0;
}
.cta:hover:after {
	width: 100%;
}

/* INDUSTRIES PAGE */
.row-t .col_sec {
	width: 30%;
	float: left;
}
.row-t .col_sec:nth-child(3n),
.row-t .col_sec:nth-child(3n-1) {
	margin-left: 5%;
}
.row-t .col_sec .sector_num {
	width: auto;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
	font-family: "PNAB";
	font-size: 32px;
	color: #5a5b5c;
}
.row-t .col_sec .sector_title {
	width: auto;
	vertical-align: middle;
	display: inline-block;
	letter-spacing: 0.5px;
	font-family: "PNB";
	font-size: 23px;
	color: #5a5b5c;
}
.row-t .col_sec .sector_sub {
	margin-top: 10px;
}
.row-t .col_sec .sector_sub .sector_list {
	margin-bottom: 15px;
	position: relative;
}
.row-t .col_sec .sector_sub .sector_list .sector_name {
	positon: relative;
}
.row-t .col_sec .sector_sub .sector_list .sector_name a {
	margin-left: 18%;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-family: "PNR";
	font-size: 16px;
	color: #f58634;
}
.row-t .col_sec .sector_sub .sector_list .sector_name:before {
	content: ">";
	font-size: 15px;
	position: absolute;
	left: 8%;
	top: 2px;
	color: #5a5b5c;
}
.row-t .col_sec .sector_sub .sector_list ul {
	margin-left: 20%;
	margin-top: 3px;
}
.row-t .col_sec .sector_sub .sector_list ul li {
	line-height: 1.45;
	letter-spacing: 0.8px;
	font-family: "PNAL";
	font-size: 14px;
	color: #5a5b5c;
}


/* PORTFOLIO PAGE */
.row-t .port_sec img {
	width: auto;
	height: 80px;
}
.row-t .col_inner .port_sec {
	width: 20%;
	float: left;
}
.row-t .col_inner .port_sec:nth-child(4n),
.row-t .col_inner .port_sec:nth-child(4n-1),
.row-t .col_inner .port_sec:nth-child(4n-2) {
	margin-left: 6.66%;
} 
.row-t .port_sec .cli_photo {
	width: 100%;
	height: 90px;
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat; 
}
.row-t .port_sec:nth-child(n+5) {
	margin-top: 50px;
}

/* NEWS PAGE */	
.section .inner-wrap .news_sort {
	padding: 5px 0 10px;
	border-bottom: 1px solid #dcdcdc;
}
.section .inner-wrap .news_sort ul li {
	width: auto;
	float: left;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	font-family: "PNB";
	font-size: 14px;
	color: #5a5b5c;
}
.section .inner-wrap .news_sort ul li:nth-child(n+2) {
	margin-left: 45px;
}
.section .inner-wrap .newsroom_hld {
	width: 100%;
	padding: 30px 0 20px;
}
.section .inner-wrap .newsroom_hld .news_wrap {
	width: 30%;
	height: 220px;
	float: left;
}
.section .inner-wrap .newsroom_hld .news_wrap:nth-child(3n),
.section .inner-wrap .newsroom_hld .news_wrap:nth-child(3n-1) {
	margin-left: 5%;
}
.section .inner-wrap .newsroom_hld .news_wrap:nth-child(n+4) {
	margin-top: 30px;
}
.section .inner-wrap .newsroom_hld .news_wrap .news_date {
	text-transform: capitalize;
	margin-bottom: 10px;
	letter-spacing: 1.3px;
	font-family: "PNR";
	font-size: 13px;
}
.section .inner-wrap .newsroom_hld .news_wrap .news_title {
	margin-bottom: 7px;
}
.section .inner-wrap .newsroom_hld .news_wrap .news_title a {
	text-transform: capitalize;
	line-height: 1.2;
	letter-spacing: 0.6px;
	font-family: "PNAB";
	font-size: 21px;
	color: #000;
}
.section .inner-wrap .newsroom_hld .news_wrap .news_det {
	line-height: 1.3;
	letter-spacing: 1.3px;
	font-family: "PNAL";
	font-size: 14px;
}

/* CAREERS PAGE */
.row-t .vid_col {
	width: 100%;
	margin: 30px 0 50px;
}
.car_hld {
	margin-top: 30px;
}
.car_hld .car_wrap {
	width: 100%;
	height: auto;
	border: 1px solid #f6f4f2;
}
.car_hld .car_wrap:nth-child(n+2) {
	margin-top: 10px;
}
.car_hld .car_wrap .ic {
	width: 100%;
	height: 50px;
	position: relative;
	background-color: #fafafa;
	transition: all 0.5s ease;
	cursor: pointer;
	padding: 15px 4%;
}
.car_hld .car_wrap .ic .car_title,
.car_hld .car_wrap .ic .car_loc,
.car_hld .car_wrap .ic .car_type {
	top: 50%;
	float: left;
	position: absolute;
	transform: translateY(-50%);
}
.car_hld .car_wrap .ic .car_title {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "PNR";
	font-size: 16px;
	color: #f58634;
}
.car_hld .car_wrap .ic .car_loc {
   left: 50%;
   letter-spacing: 1px;
   font-family: "PNAL";
   font-size: 16px;
   color: #5a5b5c;
}
.car_hld .car_wrap .ic .car_type {
	left: 80%;
	letter-spacing: 1px;
    font-family: "PNAL";
    font-size: 16px;
    color: #5a5b5c;
}
.car_hld .car_wrap .car_det {
	width: 100%;
	height: auto;
	display: none;
	padding: 20px 4%;
}
.car_hld .car_wrap .car_det .sub_h {
	letter-spacing: 0.7px;
	font-family: "PNR";
	font-size: 19px;
	color: #5a5b5c;
}
.car_hld .car_wrap .car_det ul {
	margin-top: 5px;
}
.car_hld .car_wrap .car_det ul li {
	position: relative;
	padding-left: 15px;
	line-height: 1.5;
	letter-spacing: 1.3px;
	text-transform: capitalize;
	font-family: "PNAL";
	font-size: 15px;
	color: #5a5b5c;
}
.car_hld .car_wrap .car_det ul li:before {
	content: "";
	width: 4px;
	height: 4px;
	transform: translateY(-50%);
	background-color: #5a5b5c;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
}
.car_hld .car_wrap .car_det p {
	line-height: 1.5;
	letter-spacing: 1.3px;
	text-transform: capitalize;
	font-family: "PNAL";
	font-size: 15px;
	color: #5a5b5c;
}
.car_hld .car_wrap .car_det p:nth-child(n+2) {
	margin-top: 10px;
}
.row-t .col_photo {
	width: 85%;
	margin: 30px 0 50px;
}
.row-t .col_photo img {
	width: 100%;
	height: auto;
}

/* CONTACT US PAGE */
.cont_wrap {
	width: 40%;
	padding: 40px 35px;
	border: 1px solid #eaeaea;
	display: inline-block;
	vertical-align: top;
}
.cont_wrap .cont_hld:nth-child(n+2) {
	margin-top: 25px;
}
.cont_wrap .cont_hld .cont_title {
	margin-bottom: 5px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-family: "PNB";
	font-size: 16px;
	color: #5a5b5c;
}
.cont_wrap .cont_hld:first-child .cont_det p {
	line-height: 1.4;
}
.cont_wrap .cont_hld .cont_det p {
	letter-spacing: 0.7px;
	font-family: "PNAL";
	font-size: 15px;
	color: #5a5b5c;
}
.cont_wrap .cont_hld .cont_det p:nth-child(n+2) {
	margin-top: 4px;
	
}
form {
	width: 52%;
	display: inline-block;
	vertical-align: top;
	margin-left: 7%;
}
.in_row {
	width: 100%;
	display: block;
	position: relative;
}
.in_row:nth-child(n+2) {
	margin-top: 13px;
}
.in_row .tgroup {
	float: left;
	position: relative;
}
.in_row .tgroup {
	width: 48.5%;
}
.in_row:nth-child(3) .tgroup {
	width: 100%;
}
.in_row .tgroup:nth-child(2) {
	margin-left: 3%;
}
label {
	display: block;
	color: #5a5b5c;
	font-size: 13px;
	font-family: 'PNAL';
	letter-spacing: 0.6px;
	text-transform: uppercase;
	margin-bottom: 4px;
}
input {
	width: 100%;
	transition: all 0.7s ease;
	background-color: #fff;
    border: 1px solid #eaeaea;
    padding: 5px 15px;
    box-sizing: border-box;
}
input:focus {
	outline: none;
}
textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    background-color: #fff;
}
textarea:focus {
	outline: none;
}
::placeholder {
	font-size: 13px;
	font-family: 'PNAL';
	letter-spacing: 0.6px;
	color: #EAEAEA;
}
.edge-cta {
	width: auto;
	border: none;
    background-color: transparent;
    outline: none;
	margin-top: 20px;
	transition: all 0.7s ease;
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	background-color: none;
	line-height: 1.3;
	transition: all 1s cubic-bezier(0.4,0,0.2,1);
	letter-spacing: 1.4px;
	font-family: "PNB";
	font-size: 13px;
	color: #f58634;
}
.edge-cta:hover {
	cursor: pointer;
}
.edge-cta:before {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #ddd;
	position: absolute;
	bottom: -3px;
	left: 0;
}
.edge-cta:after {
	content: "";
	width: 0;
	height: 1px;
	transition: all 1s cubic-bezier(0.4,0,0.2,1);
	background-color: #f58634;
	position: absolute;
	bottom: -3px;
	left: 0;
}
.edge-cta:hover:after {
	width: 100%;
}
#map {
	height: 400px;
	margin-top: 80px;
	border: 1px solid #f6f4f2;
}

/* DETAILS PAGE */
.section-l .inner-wrap .b-crumbs {
	width: 25%;
	float: left;
	padding-left: 5%;
}
.section-l .inner-wrap .b-crumbs a {
	line-height: 1.6;
	letter-spacing: 0.8px;
	text-transform: capitalize;
	font-family: "PNR";
	font-size: 17px;
	color: #5a5b5c;
}
.section-l .inner-wrap .det_hld {
	width: 75%;
	float: left;
	padding-right: 25%;
}
.section-l .inner-wrap .det_hld .det_title {
	text-transform: capitalize;
	margin-bottom: 15px;
	line-height: 1.2;
	letter-spacing: 1.3px;
	font-family: "PNBl";
	font-size: 40px;
	color: #f58634;
}
.section-l .inner-wrap .det_hld .source_det {
	margin-bottom: 40px;
}
.section-l .inner-wrap .det_hld .source_det .news-t {
	width: auto;
	float: left;
	position: relative;
}
.section-l .inner-wrap .det_hld .source_det .news-t:nth-child(n+2) {
	margin-left: 35px;
}
.section-l .inner-wrap .det_hld .source_det .news-t:nth-child(2):before,
.section-l .inner-wrap .det_hld .source_det .news-t:nth-child(2):after {
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	transform: translateY(-50%);
	background-color: #5a5b5c;
	position: absolute;
	top: 50%;
}
.section-l .inner-wrap .det_hld .source_det .news-t:nth-child(2):before {
	left: -20px;
}
.section-l .inner-wrap .det_hld .source_det .news-t:nth-child(2):after {
	right: -20px;
}
.section-l .inner-wrap .det_hld .source_det .news-t a {
	text-transform: capitalize;
	line-height: 1;
	letter-spacing: 0.7px;
	font-family: "PNR";
	font-size: 14px;
	color: #000;
}
.section-l .inner-wrap .det_hld .det_photo {
	margin-bottom: 25px;
}
.section-l .inner-wrap .det_hld .det_photo img {
	width: 100%;
	height: auto;
}
.section-l .inner-wrap .det_hld .det_text p:nth-child(n+2) {
	margin-top: 15px;
}
.section-l .inner-wrap .det_hld .det_text h1 {
	width: 85%;
	padding-left: 7.5%;
	line-height: 1.3;
	margin: 45px 0;
	font-family: "PNB";
	font-size: 30px;
	color: #000;
}
